<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
</head>
<body>
<div class="verify-container">
    <h2>Verify Your Email</h2>
    <form method="POST">
        <label for="user_input_code">Verification Code:</label>
        <input type="text" id="user_input_code" name="user_input_code" placeholder="Enter the verification code"
               required>

        <input type="submit" value="Verify">
    </form>
</div>
</body>
</html>